body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.picture {
  align-items: center;
  background: url('../img/ramka.jpg') no-repeat center;
  background-size: 100% 100%;
  display: flex;
  height: 800px;
  justify-content: center;
  margin: auto;
  width: 800px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 4px;
}

.white {
  background: #fff;
}

.black {
  background: #000;
}

.red {
  background: #f00;
}

.yellow {
  background: #ff0;
}

.blue {
  background-color: #00f;
}

